.maindiv {
    margin-left: 10px;
}

#A{
    margin-top: 50px;
    margin-left: 90px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
    font-size: 80px;
}

#b {
    margin-left: 90px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
    font-size: 80px;

}
p {
    margin-left: 90px;
}
#c {
    margin-left: 90px;
    border-radius: 30px;
    background-color: darkgreen;
    color: white;
}
#d {
    margin-left: 70px;
}


#f {
    position: absolute;
    right: 10px;
    top: 130px;


}

#g {
    position: absolute;
    right: 370px;
    top: 650px;
    font-weight: bolder;
    
    
}